.btn {
    background-color: var(--color_4);
}

div>h5 {
    color: var(--color_4);
}

nav {
    background: linear-gradient(to bottom, var(--color_0), var(--color_4), var(--color_1));
}

.nav-item a {
    font-weight: 600;
}

.nav-item a:hover {
    color: var(--color_1);
    font-weight: 700;
    transition: 0.5s;
}

section {
    height: auto;
}

.img-int {
    height: 55rem;
}

.box-item {
    box-shadow: 1px 1px 10px #ccc;
}

.box-item2 {
    flex: 0 1 55rem;
    min-width: 40rem;
    
}

.box-item1 {
    flex: 0 1 55rem;
    min-width: 35rem;
    min-height: 25rem;
    max-height: 30rem;
}

.fundo {
    background-image: url(../imagens/im_cifrao.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40rem;
}

.form-control {
    flex: 1 1 auto;
    max-width: 40rem;
    /* min-width: 350px; */
    box-shadow: 1px 1px 2px #ccc;
}

.btn {
    background-image: linear-gradient(to bottom, var(--color_0), var(--color_1));
}

.card-1, .card-2 {
    background-image: linear-gradient(var(--color_0), var(--color_1));
}

footer {
    background: linear-gradient(to bottom, var(--color_0), var(--color_4), var(--color_1));
}