* {
    font-family: 'Barlow', sans-serif;
}

:root {
    --color_0: #06BD9B;
    --color_1: #05A3B3;
    --color_2: #06BD33;
    --color_3: #0CB305;
    --color_4: #0DA65F;
}

html {
    font-size: 62.5%;
}

body {
    /* background-image: linear-gradient(to bottom,var(--color_1), var(--color_2), var(--color_4)); */
}